<table cellspacing="0" cellpadding="0" style="margin-top:30px;">
  <tr>
    <td style="width:60px;height:60px;padding-right:10px;border-right:2px solid #ccc;"><%= image_tag("profiles/michael.jpg", alt: "Michael", style: "width:100%;height:100%;border-radius:50%;") %></td>
    <td style="padding-left:10px;text-align:initial;">
      <b><span class="color:#333;">Michael</span></b><br>
      <span style="color:#333;">Co-fondateur | Staircase </span><br>
      <%= link_to "http://www.staircaze.com", root_url %>
    </td>
  </tr>
</table>
