
    <div class="panel-body panel-comment-body">
      <%= image_tag "profil#{comment.user_id}.jpg", class: "img-circle avatar-small" %>
      <strong><%= comment.user.first_name %></strong>
      <p class="pull-right time"><%= time_ago_in_words(comment.created_at) %></p>
      <br>
      <div class="row-space-2">
        <%= comment.content %>
      </div>
    </div>

