<div class="container">
  <div class="send-message">
    <%= link_to new_sm_path, class: "btn btn-action btn-send-message" do %>
      <i class="fa fa-paper-plane"></i>&nbsp;Envoyer un SMS
    <% end %>
  </div>
  <div class="send-email">
    <%= link_to new_email_path, class: "btn btn-action btn-send-email" do %>
      <i class="fa fa-envelope-o"></i>&nbsp;Envoyer un Email
    <% end %>
  </div>
</div>

