<div class="container">
  <div class="send-message">
    <%= link_to sms_new_path, class: "btn-send-message" do %>
      <i class="fa fa-paper-plane"></i>&nbsp;Envoyer un SMS
    <% end %>
  </div>
  <div class="send-email">
    <%= link_to email_new_path, class: "btn-send-email" do %>
      <i class="fa fa-envelope-o"></i>&nbsp;Envoyer un Email
    <% end %>
  </div>
</div>

