     <div class="blurred-container">
            <div class="img-src"></div>
            <h1 class="title">
              <span class="inner-title">
                building life matters*
              </span>
            <h1>
      </div>
     </div> <!-- end menu-dropdown -->

<div class="main">
    <div class="traduction">
      <p>*la vie de votre immeuble, ça compte</p>
    </div>
    <div class="container tim-container" style="max-width:800px; padding-top:100px">
       <a href="#" data-toggle="modal" data-target="#myModal" class="joinbuilding"><h1 class="text-center">Rejoignez vos voisins dès maintenant !<small class="subtitle">Et devenez un membre actif de votre immeuble</small></h1></a>
       <p class="text-center">StairCaze est le premier réseau social privé ayant pour ambition de connecter les habitants d'un immeuble. Rejoindre StairCaze vous permettra de vous impliquer, à votre rythme et dans le respect de votre vie privée,  dans toutes les activités de votre lieu de vie.</p>
           <!--     end extras -->
    </div>
    <div class="space"></div>
<!-- end container -->
</div>

