     <div class="blurred-container">
            <div class="img-src"></div>
            <h1 class="title">
              <span class="inner-title">
                building life matters
              </span>
            <h1>
      </div>
     </div> <!-- end menu-dropdown -->

<div class="main">
    <div class="container tim-container" style="max-width:800px; padding-top:100px">
       <a href="#" data-toggle="modal" data-target="#myModal" class="joinbuilding"><h1 class="text-center">Rejoignez vos voisins dès maintenant !<small class="subtitle">Et devenez acteur de votre immeuble</small></h1></a>
       <p class="text-center">StairCaze est le premier réseau social privé entièrement dédié à la vie de votre immeuble. Proprétaire, locataire, gardien(ne) ou property manager: StairCaze vous permet de communiquer facilement avec l'ensemble des parties prenantes, d'échanger des services ponctuels, de régler rapidement les imprévus ou problèmes récurrents dans les parties communes et de participer aux rendez-vous qui animent la vie de votre immeuble. Utilisez StairCase à votre rythme, et prenez part à cette dynamique collaborative au sein de votre immeuble !</p>
           <!--     end extras -->
    </div>
    <div class="space"></div>

    <div class="row cards">
      <div class="col-md-8 col-md-offset-2">
        <div class="row text-center">
          <div class="col-md-4 card-icon">
            <%= image_tag ('lock.png'), class: "avatar-large" %><br>
            <div class="pilier">
              <span>Plateforme sécurisée</span>
            </div>
          </div>
          <div class="col-md-4 card-icon">
            <%= image_tag ('private.png'), class: "avatar-large-large" %><br>
            <div class="pilier">
              <span>Vie privée protégée</span>
            </div>
          </div>
          <div class="col-md-4 card-icon">
            <%= image_tag ('pub.png'), class: "avatar-large-l" %><br>
            <div class="pilier">
              <span>Sans publicité</span>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- end container -->
</div>


