     <div class="blurred-container">
            <div class="img-src"></div>
            <h1 class="title">
              <span class="inner-title">
                building life matters*
              </span>
            <h1>
      </div>
     </div> <!-- end menu-dropdown -->

<div class="main">
    <div class="traduction">
      <p>*donnez vie à votre immeuble</p>
    </div>
    <div class="container tim-container" style="max-width:800px; padding-top:100px">
       <a href="#" data-toggle="modal" data-target="#myModal" class="joinbuilding"><h1 class="text-center">Rejoignez vos voisins dès maintenant !<small class="subtitle">Et devenez acteur de votre immeuble</small></h1></a>
       <p class="text-center">StairCaze est le premier réseau social privé entièrement dédié à la vie de votre immeuble. Proprétaire, locataire, gardien(ne) ou property manager, StairCaze vous permet de communiquer facilement avec l'ensemble des résidents, d'échanger des services ponctuels, de régler rapidement les imprévus ou problèmes récurrents dans les parties communes, et de participer aux rendez-vous immanquables qui animent la vie de votre immeuble. Chez StairCaze, nous promouvons l'esprit collaboratif tout en veillant au respect de votre vie privée. Utilisez StairCase à votre rythme, et prenez part à cette révolution du vivre-ensemble au sein de votre immeuble ! </p>
           <!--     end extras -->
    </div>
    <div class="space"></div>
<!-- end container -->
</div>


