     <div class="blurred-container">
            <div class="img-src"></div>
            <h1 class="title">
              <span class="inner-title">
                building life matters
              </span>
            <h1>
      </div>

</div> <!-- end menu-dropdown -->

<div class="main">
    <div class="container tim-container" style="max-width:800px; padding-top:100px">
       <a href="#" data-toggle="modal" data-target="#myModal" class="joinbuilding"><h1 class="text-center">Join your neighbors now !<small class="subtitle">And be an active member of your building</small></h1></a>
       <p class="text-center">StairCaze is the first private social network for every people living in a buliding. Joining StairCase will allow you to better connect with your neighbors, organize special events in your own place, and benefit from services people around you can offer.</p>
           <!--     end extras -->
    </div>
    <div class="space"></div>
<!-- end container -->
</div>

