#new_user {
  .user_user_floor {
    text-align: center;
    select {
      width: 25%;
      margin-left: calc(50% - 38px);
    }
  }
  #user_submit {
    margin-top: 10px;
  }
}
.form-group.select:before {
  left: 210px;
  top: 60px;
}


