<div class="row card-form row-margin">
  <h2 class="form-title">Envoyer un message</h2>
  <div class="col-md-8 col-md-offset-2">
    <%= simple_form_for @sms, url: sms_new_path do |f| %>
      <%= f.input :content, label: false %>
      <%= f.submit "Envoyer", id: "btn-submit" %>
    <% end %>
  </div>
</div>
