@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "avatar";
@import "navbar";
@import "form";
@import "index_hall";

body{
  font-family: 'Roboto', 'Didact Gothic', sans-serif;
  color: #5FCF80;
  background:#F5F8FA;
  font-size:1.2rem;
  font-weigth: 300;
}

h1{
  text-align:center;
}

h2{
  font-weight: 600;
}

.avatar-small {
  width: 28px;
  border: 1px solid white;
}
.avatar-medium {
  width: 48px;
 border: 1px solid white;
}

.avatar-large {
  width: 68px;
  border: 1px solid white;
}

.avatar-full {
  width: 100%;
  border: 1px solid white;
}
