@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "avatar";
@import "navbar";
@import "form";

body{
  font-family: 'Didact Gothic', sans-serif;
  color: #5FCF80;
  background:#105268;
  font-size:1.2rem;
}

h1{
  text-align:center;
}

h2{
  font-weight: 600;
}
