.dash-apartment {
    font-size: 18px;
    margin: 20px
  }

.sidebar-link {
      color: #cacccd;
     text-decoration: none;
 }

.sidebar-link:hover, .sidebar-link:focus {
    color: #cacccd;
    text-decoration: none;
  }

.active.sidebar-link {
      color: #565a5c;
      font-weight: bold;

}

.icon-plus {
    padding: 13px;
    border: 1px solid white;
    border-radius: 27px;
    background-color: #119DA4;
    color: white;
    margin: 28px 0px;
    font-size: 32px;
}

.fa-times {
  color: #FC7278;
}
