select {
  color: #565a5c;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-group.select:before  {
  font-size: 19px;
  content: '\25bc';
  position: absolute;
  color: #82888a;
  top: 60px;
  left: 70px;
  transform: scale(0.84, 0.42);
}

.label-message {
    font-size: 18px;
}

.row-margin {
  margin-bottom: 30px;
}

.message-container {
  padding: 18px 0;
  border-bottom: 1px solid;
}


.padding-right-off {
  padding-right: 0px
}

.padding-left-off {
  padding-left: 0px
}

.form-box {
    border-bottom: 1px solid;
    margin-bottom: 5px;
    padding: 33px;
}

#post_post_type, #post_title, #post_content, #post_date {
    color: #171515;
    width: 66%;
}

#post_content {
  height: 130px;
}

#post_date {
  width: 30%;
  text-align: center;
}

#show-date:hover {
  text-decoration: none;
  cursor: pointer;
}

.card-form {
  margin-top: 50px;
}

.form-title {
    text-align: center;
    padding-top: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    padding-bottom: 30px;
    margin-top: 0;

}
.hidden {
  display: none;
}

#btn-submit {
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    border: 0px;
    background-color: #E64A19
}
