.card-form {
    background-color: white;
    border-radius: 5px;
    border-bottom: 4px solid #E9625B;
    padding-bottom: 30px;
}

.form-title {
    text-align: center;
    padding-top: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background-color: rgba(16, 82, 104, 0.73);
    padding-bottom: 30px;
    margin-top: 0;

}
