.side-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #E9625B;
}
.nav-title {
  font-size: 25px;
   font-family: helvetica;
    display: block;
    text-align: center;
    color: white;
    margin: 60px 0px;
}
.nav-logout {
  float: right;
}

.navbar-brand {
  img {
    width: 200px;
  }

}
.navbar-nav{
  &.icon-login{
    li{
      &.open{
        .dropdown-menu{
          transform: translate(-30%);
        }
      }
    }
  }
}


.navbar-date {
  margin: 20px;
}


.button-switch {
  margin: 0px ;
}
.btn-search {
  padding: 0px 16px ;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: transparent;
  color: white;
}

.navbar-date {
  margin-bottom: 0px;
}

.log-on {
  float: left;
}

.log-on > a {
  font-weigth: 600;
}

.icon-login {
  margin-left: 20px;
  float: right;
}

.dropdown-toggle:hover {
  background-color: transparent;
}


#date_start, #date_end {
  border: 0px solid;
  border-bottom: 1px solid;
}


.dropdown-menu-absence {
  position: relative;
}

.navbar{
  .nav{
    .nav-off{
      margin: 15px 15px ;
      color: white;
      font-weight: 600;
      padding: 8px 26px;
      font-size: 16px;
      border-radius: 20px;
      border: 1px solid #F4511E;
      background: #F4511E;
      outline: none;
      &:focus {
        background: #F4511E;
      }
      &:hover{
        background: #D84315;
      }
    }
    .nav-off2 {
      color: white;
      font-weight: 600;
      padding: 8px 26px;
      font-size: 16px;
      border-radius: 20px;
      border: 1px solid;
      outline: none;
      &:focus{
        background: none;
      }
      &:hover {
        background: none;
      }
    }
  }
} // .navbar


.btn-sign {
    border: 1px solid #E64A19;
    color: white;
    letter-spacing: 4px;
    font-weight: 500;
    padding: 8px 41px;
    background-color: #F4511E;
}


#absent {
  color: #FC7278;
}

.nav-bar a {
    font-family: helvetica;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 60px 0px;
}

.address-title {
  font-style: italic;
  text-decoration : underline;
  font-size: 15px;
}

a:hover {
  color: #077187;
}

.nav-bar {
  display: block;
}

.link-to-log {
  color: #077187;
}


