.space-top {
    height: 100px;
}
.simple_form {
   .sms_content {
    #sms_content {
    height: 110px;
    }
  }
  #btn-submit {
    float: right;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    border: 0px;
    background-color: #E64A19;
  }
  .form-group {

  }
}
