<h3>Vie dans l'immeuble</h3>
  <%= form_for @apartment do |f| %>
     <div class="form-group">
      <%= f.select :building_id, @buildings, class:"form-control" %>
    </div>

    <div class="form-group">
    </div>

    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
